<!DOCTYPE html>
<html>
<head>
{{! Document Settings }}
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

{{! Page Meta }}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{! Styles'n'Scripts }}
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

{{! Ghost outputs important style and meta data with this tag }}
{{ghost_head}}
</head>
<body class="{{body_class}}">
<div 
  class="bg" 
  style="background-image:{{#if @blog.cover}} url({{@blog.cover}}) {{else}}url(/assets/images/bg.jpg){{/if}}">
<div class="container">

<header>
  <a href="/" alt="home">
    <img 
    	src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/assets/images/owl.png{{/if}}" 
    	id="logo" 
    	alt="{{@blog.title}} logo"
    >
    <h1 id="logotype">{{@blog.title}}</h1>
  </a>
  
  <ul class="menu">
    <li><a href="http://superbigtree.com/themes/the-owl">about the owl</a></li>
    <li><a href="http://superbigtree.com">super big tree</a></li>
  </ul>
</header>

<main role="main">
  {{! Everything else gets inserted here }}
  {{{body}}}
</main>

<footer>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}
</body>
</html>