<!DOCTYPE html>
<html>
<head>
{{! Document Settings }}
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

{{! Page Meta }}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{! Styles'n'Scripts }}
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

{{! Ghost outputs important style and meta data with this tag }}
{{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="bg" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
<div class="container">

<header>
  <a href="/" alt="home">
    <img src="{{@blog.logo}}" id="logo" alt="{{@blog.title}} logo">
    <h1 id="logotype">{{@blog.title}}</h1>
  </a>
</header>

<main role="main">
  {{! Everything else gets inserted here }}
  {{{body}}}
</main>

<footer>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}
</body>
</html>