{{!< default}}

{{! Each post will be output using this markup }}
<div class="posts">
  <h1 class="page-title">{{tag.name}}</h1>
  
  {{#foreach posts}}
  <article class="{{post_class}}">
    
    {{#if image}}
    <a href="{{url}}"><img src="{{image}}" class="post-image"></a>
    {{/if}}
    
    <span class="post-meta">
      <time datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="DD MMM YYYY"}}
      </time>
      {{#if tags}}in {{tags}}{{/if}}
      {{#if author}}by {{author}}{{/if}}
    </span>
    
    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
    
    <div class="post-excerpt">
      <p>{{excerpt}}</p>
    </div>
    
  </article>
  {{/foreach}}
</div>

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}